.get-in-touch {
	position: relative;
	margin-top: 70px;
}
form input {
	width: 100%;
	height: 40px;
	padding: 7px 7px;
}
form textarea {
	width: 100%;
	padding: 7px 10px;
}
label {
	text-transform: uppercase;
	font-size: 13px;
}
footer {
	border-top: #727272 2px solid;
	height: 50px;
	padding-top: 10px;
}