.earn {
	margin-top: 50px;
	position: relative;
}
.earn h3 {
	font-family: HelveticaNeue;
}
.earn p {
	font-size: 13px;
}
.earn a {
	padding: 11px 22px;
	border: solid #2c0fef 1px;
	color: #2c0fef;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 14px;
}