.how-it-works {
	margin-top: 50px;
	position: relative;
}
.how-it-works h1 {
	font-size: 30px;
	text-transform: capitalize;
}
.how-it-works img {
	width: 100px;
}
.how-it-works hr {
	border-top-color: #393649;
}
.how-it-works h2 {
	font-size: 20px;
}