.read {
	margin-top: 50px;
	position: relative;
	height: 100vh;
}
.read-bg.has-image {
	transform: translate3d(0px, 31.3333px, 0px);
	position: absolute;
	background-size: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.read h3 {
	font-size: 20px;
}
.read p {
	color: #393649;
}
.read a {
	border: 1px solid #2c0fef;
	color: #2c0fef;
	padding: 10px 15px;
	text-transform: uppercase;
	border-radius: 5px;
	font-size: 13px;
	text-decoration: none;
}
.read .card {
	box-shadow: 0 6px 30px 0 rgba(141, 136, 156, 0.15);
	border-radius: 12px;
	border: 0;
	background-color: var(--white);
}
.read .card p {
	font-size: 15px;
}
@media (max-width: 991px){
	.read-bg {
		background-image: none !important;
	}
	.read {
		height: 100%
	}
}